@tailwind base;
@tailwind components;
@tailwind utilities;



/*@media (prefers-color-scheme: dark) {*/
:root {
  /* Primary colors */
  --color-primary: #6200EE;
  --color-primary-variant: #3700B3;

  --color-blue:#2196f3;

  /* Secondary colors */
  --color-secondary: #03DAC6;
  --color-secondary-variant: #018786;

  /* Background, Surface, and Error */
  --color-background: #FFFFFF;
  --color-dark-background:#191E2C;
  --color-dark-surface:#282F48;
  --color-surface: #F5F5F5;
  --color-error: #B00020;

  /* On colors */
  --color-on-primary: #FFFFFF;
  --color-on-secondary: #000000;
  --color-on-background: #000000;
  --color-on-dark-background:#F5F7FB;
  --color-on-surface: #000000;
  --color-on-error: #FFFFFF;

  /* Additional color shades */
  --deep-purple-50: #EDE7F6;
  --deep-purple-100: #D1C4E9;
  --deep-purple-200: #B39DDB;
  --deep-purple-300: #9575CD;
  --deep-purple-400: #7E57C2;
  --deep-purple-500: #673AB7;
  --deep-purple-600: #5E35B1;
  --deep-purple-700: #512DA8;
  --deep-purple-800: #4527A0;
  --deep-purple-900: #311B92;
  --deep-purple-A100: #B388FF;
  --deep-purple-A200: #7C4DFF;
  --deep-purple-A400: #651FFF;
  --deep-purple-A700: #6200EA;

 
}


body {
  /*font-size: 22px;*/
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: 400;
  background-color: var(--color-dark-background);
  color: var(--color-on-dark-background);
  min-width: 320px;
  margin-left: 65px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* slider */
/* TextSlider.css */
@media(min-width:409px) {

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: var(--color-on-primary);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
   
  }
}

@media(max-width:409px) {

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: var(--color-on-primary);

  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  bottom: -5px;
  background: var(--color-primary);
  transition: background 0.3s ease;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:hover {
  transition: background 0.3s ease;
  background: var(--color-secondary);

}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;

}

.back-icon {
  min-width: 40px;
  min-height: 40px;
  max-width: 50px;
  max-height: 50px;
}

.forward-icon {
  min-width: 40px;
  min-height: 40px;
  max-width: 50px;
  max-height: 50px;
}

* {
  /*max-width:100vw;*/
  font-family: 'Montserrat';
}

.rating-stars:hover {
  transition: all 0.3s;
  fill: gold;

}

.rating-stars {
  fill:var(--color-primary-variant);
  transition: all 0.3s;

}


/* Scrollbar base styles */
 ::-webkit-scrollbar {
    width: 16px; /* Adjust the width of the scrollbar */
    background-color: var(--color-dark-surface); /* Background of the scrollbar track */
  }
  
  /* Scrollbar track */
   ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Inner shadow for a 3D effect */
    background-color: var(--color-dark-surface); /* Slightly lighter than the scrollbar base for contrast */
  }
  
  /* Scrollbar thumb */
   ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid var(--color-dark-surface); /* Makes the thumb narrower than the track */
    background-color: var(--color-primary); /* Use the vibrant primary color */
    box-shadow: 0 0 6px var(--color-primary-variant); /* Outer glow for a 3D effect */
  }
  
  /* Scrollbar thumb hover */
   ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-variant); /* Slightly darker shade for interactive feedback */
    box-shadow: 0 0 8px var(--color-primary-variant); /* Enhanced outer glow on hover */
  }
  
/* FIX MUI AND TAILWIND STYLE CONFLICTS */
  button.MuiButton-containedPrimary {
    @apply bg-blue-500;
    @apply text-white;
  }
  button.MuiButton-containedSecondary {
    @apply bg-deep-purple-A400;
  }
  button.MuiButton-containedSecondary:hover {
    @apply bg-deep-purple-A200;
  }
  button.MuiButton-containedSuccess {
    @apply bg-cyan-700;
    @apply  text-white;
  }
  button.MuiButton-containedSuccess:hover {
    @apply bg-cyan-500;

  }
  button.MuiButton-containedError {
    @apply bg-red-600;
  }
  button.MuiButton-containedError:hover {
    @apply bg-red-400;
  }